<template>
  <div>
    <div class="row">
      <div class="col-2"></div>
      <div class="col-8">
        <h1 class="display-6 text-center">Broj pojedinih ocjena</h1>
        <canvas id="canvasOcjene"></canvas>
        <h1 class="display-6 text-center">Prosjek: {{ computeAvg() }}</h1>
      </div>
      <div class="col-2"></div>
    </div>
  </div>
</template>

<script>
import { Chart } from "chart.js";
var myChart;

export default {
  name: "BarChartOcjene",
  props: { ocjene: Array },
  data() {
    return {
      avg: 0,
    };
  },
  methods: {
    drawChart() {
      if (myChart) myChart.destroy();
      var labels = ["1", "2", "3", "4", "5"];
      var data = [0, 0, 0, 0, 0];
      this.ocjene.forEach((ocjena) => {
        if (ocjena.ocjena === 1) data[0] += parseInt(ocjena.cnt);
        if (ocjena.ocjena === 2) data[1] += parseInt(ocjena.cnt);
        if (ocjena.ocjena === 3) data[2] += parseInt(ocjena.cnt);
        if (ocjena.ocjena === 4) data[3] += parseInt(ocjena.cnt);
        if (ocjena.ocjena === 5) data[4] += parseInt(ocjena.cnt);
      });
      const ctx = document.getElementById("canvasOcjene").getContext("2d");
      myChart = new Chart(ctx, {
        type: "bar",
        data: {
          labels: labels,
          datasets: [
            {
              label: "Ocjene",
              data: data,
              backgroundColor: [
                "rgba(255, 0, 0, 0.7)",
                "rgba(255, 128, 0, 0.7)",
                "rgba(255, 255, 0, 0.7)",
                "rgba(0, 128, 128, 0.7)",
                "rgba(0, 255, 0, 0.7)",
              ],
              borderColor: [
                "rgba(255, 0, 0, 1)",
                "rgba(255, 128, 0, 1)",
                "rgba(255, 255, 0, 1)",
                "rgba(0, 128, 128, 1)",
                "rgba(0, 255, 0, 1)",
              ],
              borderWidth: 3,
            },
          ],
        },
        options: {
          scales: {
            yAxes: [
              {
                ticks: {
                  beginAtZero: true,
                  fontSize: 16,
                },
              },
            ],
          },
          legend: {
            labels: {
              // fontColor: 'black',
              fontSize: 18,
            },
          },
        },
      });
    },
    computeAvg() {
      var brojOcjena = 0;
      var avg = 0;
      this.ocjene.forEach((ocj) => {
        avg += ocj.ocjena * parseInt(ocj.cnt);
        brojOcjena += parseInt(ocj.cnt);
      });
      this.avg = (avg / brojOcjena).toFixed(2);
      return this.avg;
    },
  },
  beforeUpdate() {
    this.drawChart();
  },
};
</script>

<style>
</style>