<template>
  <div>
    <div class="row px-2">
      <div class="col-md-3 col-sm-2"></div>
      <div class="col-md-6 col-sm-8">
        <form action="" method="POST" id="ucenikForm" @submit.prevent="submit()">
          <div class="form-group row py-2">
            <div class="col-sm-3">
              <label for="predmet" class="col-form-label">Ime</label>
            </div>
            <div class="col-sm-9">
              <input
                type="text"
                class="form-control"
                name="ime"
                id="ime"
                placeholder="Ime"
              />
            </div>
          </div>

          <div class="form-group row py-2">
            <div class="col-sm-3">
              <label for="datum" class="col-form-label">Prezime</label>
            </div>
            <div class="col-sm-9">
              <input
                type="text"
                class="form-control"
                name="prezime"
                id="prezime"
                placeholder="Prezime"
              />
            </div>
          </div>

          <div class="form-group row py-2">
            <div class="col-sm-3">
              <label for="razred" class="col-form-label">Razred</label>
            </div>
            <div class="col-sm-9">
              <select
                id="selectRazred"
                class="form-select"
                aria-label="Default select example"
              >
                <option :key="raz" v-for="raz in razredi" :value="raz">
                  {{ raz }}
                </option>
              </select>
            </div>
          </div>

          <div class="form-group row py-2">
            <div class="col-sm-3">
              <label for="datum" class="col-form-label">JMBAG</label>
            </div>
            <div class="col-sm-9">
              <input
                type="text"
                class="form-control"
                name="jmbag"
                id="jmbag"
                placeholder="jmbag"
              />
            </div>
          </div>

          <div class="form-group row py-2">
            <div class="col-sm-3">
              <label for="datum" class="col-form-label">Poštanski broj</label>
            </div>
            <div class="col-sm-9">
              <select
                id="pbr"
                class="form-select"
                aria-label="Default select example"
              >
                <option :key="pbr.pbr" v-for="pbr in mjesta" :value="pbr.pbr">
                  {{ pbr.pbr }}
                </option>
              </select>
            </div>
          </div>
            

          <div class="form-group row-sm-2 text-center py-2">
            <button type="submit" class="px-3 mx-3 btn btn-success">
              Kreiraj učenika
            </button>
          </div>
          <div id="insert" class="row-sm-2 text-center"></div>
        </form>
      </div>
      <div class="col-md-3 col-sm-2"></div>
    </div>
  </div>
</template>

<script>
import axios from "axios";

export default {
  name: "DodavanjeUcenika",
  props: {
    razredi: Array
  },
  data() {
    return {
      razred: this.$store.getters.getSviRazredi,
      mjesta: [],
    };
  },
  methods: {
      submit() {
        var ime = document.getElementById("ime").value;
        var prezime = document.getElementById("prezime").value;
        var razred = document.getElementById("selectRazred").value;
        var jmbag = document.getElementById("jmbag").value;
        var pbr = document.getElementById("pbr").value;      
        axios.post("http://127.0.0.1:8081/dodavanje", {
            ime,
            prezime,
            razred,
            jmbag,
            pbr
        })
        .then(res => {
            if(res.status === 201){
                this.$router.go();
            } else {
                console.log("Dodavanje nije uspjelo")
            }
        })
        .catch(err => {
            console.log(err);
        })
    },
  },
  async mounted() {
    await axios.get("http://127.0.0.1:8081/mjesta").then((res) => {
      this.mjesta = res.data.mjesta;
    });
  },
};
</script>