<template>
  <div>
    <div class="row text-center">
      <h1>Master {{ ime }} {{ prezime }}</h1>
    </div>
    <div class="row px-2">
      <div class="col-md-3 col-sm-2"></div>
      <div class="col-md-6 col-sm-8">
        <form action="" method="POST" id="ispitForm" @submit.prevent="submit()">
          <div class="form-group row py-2">
            <div class="col-sm-3">
              <label for="predmet" class="col-form-label">Ime</label>
            </div>
            <div class="col-sm-9">
              <input
                type="text"
                class="form-control"
                name="ime"
                id="ime"
                :value="ime"
              />
            </div>
          </div>

          <div class="form-group row py-2">
            <div class="col-sm-3">
              <label for="datum" class="col-form-label">Prezime</label>
            </div>
            <div class="col-sm-9">
              <input
                type="text"
                class="form-control"
                name="prezime"
                id="prezime"
                :value="prezime"
              />
            </div>
          </div>
          <div class="form-group row py-2">
            <div class="col-sm-3">
              <label for="razred" class="col-form-label">Razred</label>
            </div>
            <div class="col-sm-9">
              <select
                id="selectRazred"
                class="form-select"
                aria-label="Default select example"
              >
                <option :key="raz" v-for="raz in razred" :value="raz">
                  {{ raz }}
                </option>
              </select>
            </div>
          </div>

          <div class="form-group row py-2">
            <div class="col-sm-3">
              <label for="datum" class="col-form-label">JMBAG</label>
            </div>
            <div class="col-sm-9">
              <input
                type="text"
                class="form-control"
                name="jmbag"
                id="jmbag"
                :value="jmbag"
                disabled
              />
            </div>
          </div>

          <div class="form-group row-sm-2 text-center py-2">
            <button type="submit" class="px-3 mx-3 btn btn-success">
              Spremi
            </button>
            <button
              class="px-3 mx-3 btn btn-danger"
              @click.prevent="deleteUcenik"
            >
              Obriši
            </button>
          </div>
          <div id="insert" class="row-sm-2 text-center"></div>
        </form>
      </div>
      <div class="col-md-3 col-sm-2"></div>
    </div>
  </div>
</template>

<script>
import axios from "axios";

export default {
  name: "MasterUcenik",
  props: {
    ime: String,
    prezime: String,
    jmbag: String,
  },
  data() {
    return {
      razred: this.$store.getters.getSviRazredi,
    };
  },
  methods: {
    //spremi
    submit() {
      var newIme = document.getElementById("ime").value;
      var newPrezime = document.getElementById("prezime").value;
      var newRazred = document.getElementById("selectRazred").value;
      axios
        .post("http://127.0.0.1:8081/profesor/odabrani-ucenik/update", {
          ime: newIme,
          prezime: newPrezime,
          jmbag: this.jmbag,
          sifrazred: newRazred
        })
        .then((res) => {
          if (res.status === 200) {
            console.log(res.data);
            this.$router.push("/profesor");
          }
        })
        .catch(() => {
          console.log("Nije uspjela promjena");
        });
    },
    //obriši
    deleteUcenik() {
      axios
        .delete(`http://127.0.0.1:8081/profesor/odabrani-ucenik/${this.jmbag}`)
        .then((res) => {
          if (res.status === 200) {
            this.$router.push("/profesor");
          }
        })
        .catch(() => {
          console.log("Nije uspjelo brisanje učenika");
        });
    },
  },
};
</script>