<template>
  <div
    class="container-fluid navbar navbar-expand-lg navbar-light"
    style="background-color: #e3f2fd"
  >
    <router-link to="/" class="navbar-brand">
      <img src="../assets/Gradebook.png" alt="Gradebook" style="width: 36px" />
    </router-link>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarsExample08"
      aria-controls="navbarsExample08"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div
      class="collapse navbar-collapse justify-content-between"
      id="navbarsExample08"
    >
      <div></div>

      <div>
        <ul class="navbar-nav">
          <li
            v-if="this.$store.getters.getToken !== null"
            class="nav-item font-weight-bold"
          >
            <router-link
              :to='this.$store.getters.getUser.uloga === "prof" ? "/profesor" : "/ucenik"'
              class="nav-link"
              >Naslovna</router-link
            >
          </li>
          <li
            v-if="this.$store.getters.getToken !== null"
            class="nav-item font-weight-bold"
          >
            <router-link
              :to='this.$store.getters.getUser.uloga === "prof" ? "/profesor/statistika" : "/ucenik/statistika"'
              class="nav-link"
              >Statistika</router-link
            >
          </li>

          <li
            v-if="this.$store.getters.getToken !== null"
            class="nav-item font-weight-bold"
          >
            <router-link
              v-if="this.$store.getters.getUser.uloga === 'prof'"
              to="/razredi"
              class="nav-link"
              >Razredi</router-link
            >
          </li>
          
          <li
            v-if="this.$store.getters.getToken !== null"
            class="nav-item font-weight-bold"
          >
            <router-link
              to="/"
              class="nav-link"
              @click="this.$store.dispatch('logoutUserAction')"
              >Logout</router-link
            >
          </li>
        </ul>
      </div>

      <div>
        <ul class="navbar-nav">
          <li v-if="this.$store.getters.getToken !== null" class="nav-item font-weight-bold">
            <router-link
              v-if="this.$store.getters.getUser.uloga === 'prof'"
              :to="{
                name: 'ProfilProf',
                params: {
                  id: this.$store.getters.getUser.sifnastavnik,
                  uloga: this.$store.getters.getUser.uloga,
                },
              }"
              class="nav-link"
              >{{ this.$store.getters.getUser.ime }}
              {{ this.$store.getters.getUser.prezime }}</router-link
            >
            <router-link
              v-else
              :to="{
                name: 'ProfilUc',
                params: {
                  id: this.$store.getters.getUser.jmbag,
                  uloga: this.$store.getters.getUser.uloga,
                },
              }"
              class="nav-link"
              >{{ this.$store.getters.getUser.ime }}
              {{ this.$store.getters.getUser.prezime }}</router-link
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "Navbar",
  // data(){
  //   return{
  //     ime: this.$store.gett
  //   }
  // }
};
</script>

<style>
</style>