<template>
  <div>
    <h1 v-if="biljeske.length !== 0" class="display-6 text-center pt-3">Bilješke</h1>
    <div v-if="biljeske.length !== 0" class="table-responsive">
      <table class="table table-bordered table-responsive align-middle">
        <thead>
          <tr>
            <th scope="col" class="table-info">#</th>
            <th scope="col" class="table-info">Opis</th>
          </tr>
        </thead>
        <tbody :key="i" v-for="(biljeska, i) in biljeske">
          <tr>
            <th scope="row" class="table-secondary">{{ i + 1 }}</th>
            <td>{{ biljeska.opis }}</td>
          </tr>          
        </tbody>
      </table>
    </div>
    <div v-else>
        <h1 class="display-6 text-center pt-3">Za odabrani predmet nema zabilježenih bilješki</h1>
    </div>
  </div>
</template>

<script>
export default {
  name: "TablicaBiljeski",
  props: { biljeske: Array },
};
</script>

<style>
</style>