<template>
  <div>
    <div class="row text-center pb-3 px-4 mx-4">
      <div class="col">
        <input class="form-control" v-model="jmbagFiltar" placeholder="JMBAG FILTAR" />
      </div>
      <div class="col">
        <input class="form-control" v-model="imeFiltar" placeholder="IME FILTAR" />
      </div>
      <div class="col">
        <input class="form-control" v-model="prezimeFiltar" placeholder="PREZIME FILTAR" />
      </div>
    </div>
    <div class="table-responsive">
      <table class="table table-bordered table-responsive align-middle">
        <thead>
          <tr>
            <th scope="col" class="table-info">#</th>
            <th scope="col" class="table-info">JMBAG</th>
            <th scope="col" class="table-info">Ime</th>
            <th scope="col" class="table-info">Prezime</th>
            <!-- <th scope="col" class="table-info">Prisutnost</th> -->
            <th scope="col" class="table-info">Prikaži</th>
          </tr>
        </thead>
        <tbody :key="i" v-for="(ucenik, i) in ucenici">
          <tr
            v-if="
              ucenik.jmbag.includes(jmbagFiltar) &&
              ucenik.ime.includes(imeFiltar) &&
              ucenik.prezime.includes(prezimeFiltar)
            "
          >
            <th scope="row" class="table-secondary">{{ i + 1 }}</th>
            <td>{{ ucenik.jmbag }}</td>
            <td>{{ ucenik.ime }}</td>
            <td>{{ ucenik.prezime }}</td>
            <td>
              <router-link
                :to="{ name: 'OdabraniUcenik', params: { id: ucenik.jmbag } }"
                class="text-decoration-none link-info"
                >Prikaži</router-link
              >
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</template>

<script>
export default {
  name: "TablicaUcenika",
  data() {
    return {
      jmbagFiltar: "",
      imeFiltar: "",
      prezimeFiltar: "",
    };
  },
  props: {
    ucenici: Array,
  },
  methods: {
    changeColor(id) {
      if (document.getElementById(id).style.backgroundColor === "lime")
        document.getElementById(id).style.backgroundColor = "red";
      else document.getElementById(id).style.backgroundColor = "lime";
    },
  },
};
</script>

<style>
</style>