<template>
  <div>
    <div v-if="ispitiCopy.length !== 0" class="row text-center">
      <h1>Detail</h1>
    </div>
    <h1 v-if="ispitiCopy.length !== 0" class="display-6 text-center pt-3">
      Ispiti
    </h1>
    <div v-if="ispitiCopy.length !== 0" class="table-responsive">
      <table class="table table-bordered table-responsive align-middle">
        <thead>
          <tr>
            <th scope="col" class="table-info">#</th>
            <th scope="col" class="table-info">Jmbag</th>
            <th scope="col" class="table-info">Ime</th>
            <th scope="col" class="table-info">Prezime</th>
            <th scope="col" class="table-info">Datum</th>
            <th scope="col" class="table-info">Predmet</th>
            <th scope="col" class="table-info">Ocjena</th>
            <th scope="col" class="table-info">Ažuriraj</th>
            <th scope="col" class="table-info">Izbriši</th>
          </tr>
        </thead>
        <tbody :key="i" v-for="(ispit, i) in ispitiCopy">
          <tr>
            <th scope="row" class="table-secondary">{{ i + 1 }}</th>
            <td>{{ ispit.jmbag }}</td>
            <td>{{ ispit.ime }}</td>
            <td>{{ ispit.prezime }}</td>
            <td>{{ ispit.datum }}</td>
            <td>{{ ispit.naziv }}</td>
            <td :id="ispit.datum">{{ ispit.ocjena }}</td>
            <td>
              <select
                @change="
                  updateIspit(
                    ispit.jmbag,
                    this.$store.getters.getUser.sifpredmet,
                    'selectorOcjena' + i
                  )
                "
                :id="'selectorOcjena' + i"
                class="form-select"
                aria-label="Default select example"
              >
                <option
                  v-bind:selected="ispit.ocjena === 1 ? true : false"
                  :value="'1 ' + ispit.datum"
                >
                  1
                </option>
                <option
                  v-bind:selected="ispit.ocjena === 2 ? true : false"
                  :value="'2 ' + ispit.datum"
                >
                  2
                </option>
                <option
                  v-bind:selected="ispit.ocjena === 3 ? true : false"
                  :value="'3 ' + ispit.datum"
                >
                  3
                </option>
                <option
                  v-bind:selected="ispit.ocjena === 4 ? true : false"
                  :value="'4 ' + ispit.datum"
                >
                  4
                </option>
                <option
                  v-bind:selected="ispit.ocjena === 5 ? true : false"
                  :value="'5 ' + ispit.datum"
                >
                  5
                </option>
              </select>
            </td>
            <td>
              <i
                @click="
                  deleteIspit(
                    ispit.jmbag,
                    ispit.datum,
                    this.$store.getters.getUser.sifpredmet
                  )
                "
                class="fa fa-trash-o"
                style="font-size: 32px; color: red"
              ></i>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div v-else>
      <h1 class="display-6 text-center pt-3">
        Za odabranog učenika nema ispita
      </h1>
    </div>
  </div>
</template>

<script>
import axios from "axios";

export default {
  name: "TablicaIspita",
  props: { ispiti: Array },
  data() {
    return {
      ispitiCopy: [],
      obaljenoJednom: false,
    };
  },
  methods: {
    deleteIspit(jmbag, datum, sifpredmet) {
      if (
        confirm("Jeste li sigurni da želite izbrisati odabrani ispit?") == true
      ) {
        this.ispitiCopy = this.ispitiCopy.filter(
          (ispit) => ispit.datum !== datum
        );
        axios
          .delete(`http://127.0.0.1:8081/profesor/odabrani-ucenik?id=${jmbag}&datum=${datum}&sifpredmet=${sifpredmet}`)
          .then((result) => {
            if(result.status === 200){
              this.$router.push("/profesor");
            } else {
              //napisati da brisanje nije uspjelo
            }
          })
          .catch((err) => {
            console.log(err);
          });
      } else {
        console.log("NE");
      }
    },
    updateIspit(jmbag, sifpredmet, selectorId) {
      if (
        confirm(
          "Jeste li sigurni da želite promijeniti ocjenu odabranog ispita?"
        ) == true
      ) {
        var ocjena = document.getElementById(selectorId).value.split(" ")[0];
        var datum = document.getElementById(selectorId).value.split(" ")[1];
        axios
          .put(`http://127.0.0.1:8081/profesor/odabrani-ucenik`, {id: jmbag, sifpredmet: sifpredmet, ocjena: ocjena, datum: datum})
          .then((result) => {
            if(result.status === 200){
              //napisati da je uspjelo
              document.getElementById(datum).innerHTML = ocjena;
            } else {
              //napisati da brisanje nije uspjelo
            }
          })
          .catch((err) => {
            console.log(err);
          });
      } else {
        console.log("NE");
      }
    },
  },
  beforeUpdate() {
    this.ispitiCopy = this.ispiti;
    if (this.ispitiCopy.length === 0 && !this.obaljenoJednom) {
      this.ispitiCopy = this.ispitiCopy.concat(this.ispiti);
      this.obaljenoJednom = true;
    }
  },
};
</script>

<style>
</style>