<template>
  <div>
    <h1 v-if="ocjene.length !== 0" class="display-6 text-center pt-3">Ocjene</h1>
    <div v-if="ocjene.length !== 0" class="table-responsive">
      <table class="table table-bordered table-responsive align-middle">
        <thead>
          <tr>
            <th scope="col" class="table-info">#</th>
            <th scope="col" class="table-info">Predmet</th>
            <th scope="col" class="table-info">Datum</th>
            <th scope="col" class="table-info">Ocjena</th>
          </tr>
        </thead>
        <tbody :key="i" v-for="(ocjena, i) in ocjene">
          <tr>
            <th scope="row" class="table-secondary">{{ i + 1 }}</th>
            <td>{{ ocjena.naziv }}</td>
            <td>{{ ocjena.datum.split("T")[0] }}</td>
            <td>{{ ocjena.ocjena }}</td>
          </tr>          
        </tbody>
      </table>
    </div>
    <div v-else>
        <h1 class="display-6 text-center pt-3">Za odabrani predmet nema zabilježenih ocjena</h1>
    </div>
  </div>
</template>

<script>
export default {
  name: "TablicaOcjena",
  props: { ocjene: Array },
};
</script>

<style>
</style>