<template>
  <div>
    <h1 class="display-6 text-center">Šifrarnik razredi</h1>
    <div class="table-responsive">
      <table class="table table-bordered table-responsive align-middle">
        <thead>
          <tr>
            <th scope="col" class="table-info">#</th>
            <th scope="col" class="table-info">Šifra razreda</th>
            <th scope="col" class="table-info">Naziv razreda</th>
            <th scope="col" class="table-info">Brisanje</th>
            <!-- <th scope="col" class="table-info">Šifra škole</th> -->
          </tr>
        </thead>
        <tbody :key="i" v-for="(razred, i) in sviRazredi">
          <tr>
            <th scope="row" class="table-secondary">{{ i + 1 }}</th>
            <td>{{ razred.sifrazred }}</td>
            <td>{{ razred.naziv }}</td>
            <td>
              <button
                class="btn btn-danger"
                :id="razred.sifrazred"
                @click="deleteRazred(razred.sifrazred)"
              >
                Izbriši razred
              </button>
            </td>
            <!-- <td>{{ razred.sifskola }}</td> -->
          </tr>
        </tbody>
      </table>
    </div>

    <div>
      <div class="row text-center">
        <h1>Uredi razred</h1>
      </div>
      <div class="row px-2">
        <div class="col-md-3 col-sm-2"></div>
        <div class="col-md-6 col-sm-8">
          <form
            action=""
            method="POST"
            id="ispitForm"
            @submit.prevent="submit()"
          >
            <div class="form-group row py-2">
              <div class="col-sm-3">
                <label for="razred" class="col-form-label">Razred</label>
              </div>
              <div class="col-sm-9">
                <select
                  id="selectRazred"
                  class="form-select"
                  aria-label="Default select example"
                >
                  <option
                    :key="razred"
                    v-for="razred in sviRazredi"
                    :value="razred.sifrazred"
                  >
                    {{ razred.sifrazred }}
                  </option>
                </select>
              </div>
            </div>

            <div class="form-group row py-2">
              <div class="col-sm-3">
                <label for="predmet" class="col-form-label">Naziv</label>
              </div>
              <div class="col-sm-9">
                <input
                  type="text"
                  class="form-control"
                  name="naziv"
                  id="naziv"
                />
              </div>
            </div>

            <div class="form-group row-sm-2 text-center py-2">
              <button type="submit" class="px-3 mx-3 btn btn-success">
                Uredi
              </button>
            </div>

            <div id="insert" class="row-sm-2 text-center"></div>
          </form>
        </div>
        <div class="col-md-3 col-sm-2"></div>
      </div>
    </div>

    <br>
    <br>

    <div>
      <div class="row text-center">
        <h1>Dodavanje novog razreda</h1>
      </div>
      <div class="row px-2">
        <div class="col-md-3 col-sm-2"></div>
        <div class="col-md-6 col-sm-8">
          <form
            action=""
            method="POST"
            id="ispitForm"
            @submit.prevent="submitNoviRazred()"
          >
            
            <div class="form-group row py-2">
              <div class="col-sm-3">
                <label for="predmet" class="col-form-label">Šifra razreda</label>
              </div>
              <div class="col-sm-9">
                <input
                  type="text"
                  class="form-control"
                  name="sifrazred"
                  id="sifrazred"
                  placeholder="ZnamenkaSlovo"
                />
              </div>
            </div>


            <div class="form-group row py-2">
              <div class="col-sm-3">
                <label for="predmet" class="col-form-label">Naziv</label>
              </div>
              <div class="col-sm-9">
                <input
                  type="text"
                  class="form-control"
                  name="naziv2"
                  id="naziv2"
                />
              </div>
            </div>

            

            <div class="form-group row-sm-2 text-center py-2">
              <button type="submit" class="px-3 mx-3 btn btn-success">
                Kreiraj
              </button>
            </div>

            <div id="insert" class="row-sm-2 text-center"></div>
          </form>
        </div>
        <div class="col-md-3 col-sm-2"></div>
      </div>
    </div>

  </div>
</template>

<script>
import axios from "axios";

export default {
  name: "TablicaRazreda",
  data() {
    return {
      sviRazredi: [],
    };
  },
  methods: {
    deleteRazred(sifrazred) {
      axios.delete(`http://127.0.0.1:8081/razred/${sifrazred}`)
      .then(() => {
        this.$router.go();
      })
      .catch(err => {
        console.log(err);
      })
    },
    submit() {
      var razred = document.getElementById("selectRazred").value;
      var naziv = document.getElementById("naziv").value;
      axios
        .put("http://127.0.0.1:8081/razred", {
          sifrazred: razred,
          naziv,
        })
        .then(() => {
          this.$router.go();
        });
    },
    submitNoviRazred(){
      var sifrazred = document.getElementById("sifrazred").value;
      var naziv = document.getElementById("naziv2").value;
      axios.post("http://127.0.0.1:8081/razred", {
        sifrazred,
        naziv
      })
      .then(() => {
        this.$router.go();
      })
    }
  },
  mounted() {
    axios
      .get(`http://127.0.0.1:8081/razredi`)
      .then((result) => {
        result.data.razredi.forEach((val) => {
          this.sviRazredi.push(val);
        });
      })
      .then(() => {
        var raz = [];
        this.sviRazredi.forEach((razred) => {
          raz.push(razred.sifrazred);
        });
        this.$store.dispatch("setSviRazredi", raz);
      })
      .catch((err) => {
        console.log(err);
      });
  },
};
</script>