<template>
  <div>
    <h1 v-if="izostanci.length !== 0" class="display-6 text-center pt-3">
      Izostanci
    </h1>
    <div v-if="izostanci.length !== 0" class="table-responsive">
      <table class="table table-bordered table-responsive align-middle">
        <thead>
          <tr>
            <th scope="col" class="table-info">#</th>
            <th scope="col" class="table-info">JMBAG</th>
            <th scope="col" class="table-info">Ime</th>
            <th scope="col" class="table-info">Prezime</th>
            <th scope="col" class="table-info">Datum</th>            
          </tr>
        </thead>
        <tbody :key="i" v-for="(izostanak, i) in izostanci">
          <tr>
            <th scope="row" class="table-secondary">{{ i + 1 }}</th>
            <td>{{ izostanak.jmbag }}</td>
            <td>{{ izostanak.ime }}</td>
            <td>{{ izostanak.prezime }}</td>
            <td>{{ izostanak.datum.split('T')[0] }}</td>            
          </tr>
        </tbody>
      </table>
    </div>
    <div v-else>
      <h1 class="display-6 text-center pt-3">Nema evidentiranih izostanaka</h1>
    </div>
  </div>
</template>

<script>
export default {
  name: "TablicaIzostanaka",
  props: { izostanci: Array },
};
</script>

<style>
</style>