<template>
  <div id="container">
    <div class="row text-center">
      <h1>Unos izostanka</h1>
    </div>
    <div class="row px-2">
      <div class="col-md-3 col-sm-2"></div>
      <div class="col-md-6 col-sm-8">
        <form action="" method="POST" id="ispitForm" @submit.prevent="submit()">
          <div class="form-group row py-2">
            <div class="col-sm-3">
              <label for="jmbag" class="col-form-label">Jmbag</label>
            </div>
            <div class="col-sm-9">
              <input
                type="text"
                class="form-control"
                name="jmbag"
                id="jmbag"
                :value="id"
                disabled
              />
            </div>
          </div>
          <div class="form-group row py-2">
            <div class="col-sm-3">
              <label for="datum" class="col-form-label">Datum</label>
            </div>
            <div class="col-sm-9">
              <input
                type="text"
                class="form-control"
                name="datum"
                id="datum"
                :value="datum"
                disabled
              />
            </div>
          </div>
          <div class="form-group row-sm-2 text-center py-2">
            <button type="submit" class="btn btn-primary">Unesi</button>
          </div>
          <div id="insert2" class="row-sm-2 text-center"></div>
        </form>
      </div>
      <div class="col-md-3 col-sm-2"></div>
    </div>
  </div>
</template>

<script>
import axios from "axios";

export default {
  name: "UnosIzostanaka",
  props: { datum: String, id: String },
  methods: {
    submit() {
      axios
        .post("http://127.0.0.1:8081/profesor/odabrani-ucenik/evidencija", {
          datum: this.datum,
          id: this.id,
        })
        .then((res) => {
          if (res.status === 201) {
            var poruka = document.createElement("h6");
            poruka.innerHTML = "Uspješno unesen izostanak";
            poruka.style.color = "lime";
            poruka.id = "poruka3";
            document.getElementById("insert2").append(poruka);
          }
        })
        .catch(() => {
          var poruka = document.createElement("h6");
          poruka.innerHTML = "Učenik već ima zabilježen izostanak!";
          poruka.style.color = "red";
          poruka.id = "poruka2";
          document.getElementById("insert2").append(poruka);
          this.unistiPoruku();
        });
    },
    unistiPoruku() {
      setTimeout(() => {
        document.getElementById("poruka2").style.display = "none";
      }, 5000);
    },
    unesenaEvidencija() {
      setTimeout(() => {
        this.$router.push("/profesor");
      }, 3000);
    },
  },
};
</script>

<style>
</style>