<template>
  <div>
    <div class="row text-center">
      <h1>Unos bilješke</h1>
    </div>
    <div class="row px-2">
      <div class="col-md-3 col-sm-2"></div>
      <div class="col-md-6 col-sm-8">
        <form action="" method="POST" id="ispitForm" @submit.prevent="submit()">
          <div class="form-group row py-2">
            <div class="col-sm-3">
              <label for="predmet" class="col-form-label">Šifra</label>
            </div>
            <div class="col-sm-9">
              <input
                type="text"
                class="form-control"
                name="predmet"
                id="predmet"
                :value="sifpredmet"
                disabled
              />
            </div>
          </div>
          <div class="form-group row py-2">
            <div class="col-sm-3">
              <label for="jmbag" class="col-form-label">Jmbag</label>
            </div>
            <div class="col-sm-9">
              <input
                type="text"
                class="form-control"
                name="jmbag"
                id="jmbag"
                :value="id"
                disabled
              />
            </div>
          </div>
          <div class="form-group row py-2">
            <div class="col-sm-3">
              <label for="opis" class="col-form-label">Opis</label>
            </div>
            <div class="col-sm-9">
              <textarea
                class="form-control"
                id="opis"
                rows="3"
                @keyup="printaj"
              />
            </div>
          </div>
          <div class="form-group row-sm-2 text-center py-2">
            <button type="submit" class="btn btn-primary">Unesi</button>
          </div>
          <div id="insert3" class="row-sm-2 text-center"></div>
        </form>
      </div>
      <div class="col-md-3 col-sm-2"></div>
    </div>
  </div>
</template>

<script>
import axios from 'axios';

export default {
  name: "UnosBiljeske",
  props: { id: String, sifpredmet: String },
  data() {
    return {
      opis: "",
    };
  },
  methods: {
    submit() {
      this.opis = document.getElementById("opis").value;
      axios
        .post("http://127.0.0.1:8081/profesor/odabrani-ucenik/biljeska", {
          id: this.id,
          sifpredmet: this.sifpredmet,
          opis: this.opis
        })
        .then((res) => {
          if (res.status === 201) {
            var poruka = document.createElement("h6");
            poruka.innerHTML = "Uspješno unesena bilješka";
            poruka.style.color = "lime";
            poruka.id = "poruka4";
            document.getElementById("insert3").append(poruka);
          }
        })
        .catch(() => {
            var poruka = document.createElement("h6");
            poruka.innerHTML = "Na današnji dan učenik je izostao s nastave te mu se ne može unjeti bilješka";
            poruka.style.color = "red";
            poruka.id = "poruka4";
            document.getElementById("insert3").append(poruka);
        });
    },
  },
};
</script>

<style>
</style>