<template>
  <div id="container">
    <div class="row text-center">
      <h1>Unos ispita</h1>
    </div>
    <div class="row px-2">
      <div class="col-md-3 col-sm-2"></div>
      <div class="col-md-6 col-sm-8">
        <form action="" method="POST" id="ispitForm" @submit.prevent="submit()">
          <div class="form-group row py-2">
            <div class="col-sm-3">
              <label for="predmet" class="col-form-label">Šifra</label>
            </div>
            <div class="col-sm-9">
              <input
                type="text"
                class="form-control"
                name="predmet"
                id="predmet"
                :value="sifpredmet"
                disabled
              />
            </div>
          </div>
          <div class="form-group row py-2">
            <div class="col-sm-3">
              <label for="jmbag" class="col-form-label">Jmbag</label>
            </div>
            <div class="col-sm-9">
              <input
                type="text"
                class="form-control"
                name="jmbag"
                id="jmbag"
                :value="id"
                disabled
              />
            </div>
          </div>
          <div class="form-group row py-2">
            <div class="col-sm-3">
              <label for="datum" class="col-form-label">Datum</label>
            </div>
            <div class="col-sm-9">
              <input
                type="text"
                class="form-control"
                name="datum"
                id="datum"
                :value="datum"
                disabled
              />
            </div>
          </div>
          <div class="form-group row py-2">
            <div class="col-sm-3">
              <label for="ocjena" class="col-form-label">Ocjena</label>
            </div>
            <div class="col-sm-9">
              <select
                id="selectOcjena"
                class="form-select"
                aria-label="Default select example"
              >
                <option selected>Odaberi ocjenu</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
              </select>
            </div>
          </div>
          <div class="form-group row-sm-2 text-center py-2">
            <button type="submit" class="btn btn-primary">Unesi</button>
          </div>
          <div id="insert" class="row-sm-2 text-center"></div>
        </form>
      </div>
      <div class="col-md-3 col-sm-2"></div>
    </div>
  </div>
</template>

<script>
import axios from "axios";

export default {
  name: "UnosIspita",
  props: { datum: String, sifpredmet: String, id: String },
  methods: {
    submit() {
      var novaOcjena = document.getElementById("selectOcjena").value;
      if (novaOcjena !== "Odaberi ocjenu") {
        axios
          .post("http://127.0.0.1:8081/profesor/odabrani-ucenik", {
            ocjena: novaOcjena,
            datum: this.datum,
            sifpredmet: this.sifpredmet,
            id: this.id,
          })
          .then((res) => {
            if (res.status === 201) {
              this.$router.push("/profesor");
            }
          })
          .catch(() => {
            var poruka = document.createElement("h6");
            poruka.innerHTML = "Ne može se unjeti više od jedne ocjene dnevno!";
            poruka.style.color = "red";
            poruka.id = "poruka";
            document.getElementById("insert").append(poruka);
            this.unistiPoruku();
          });
      }
    },
    unistiPoruku() {
      setTimeout(() => {
        document.getElementById("poruka").style.display = "none";
      }, 5000);
    },
  },
};
</script>

<style>
</style>