<template>
  <div>
    <Navbar></Navbar>
    <router-view :key="$route.fullPath" />
  </div>
</template>

<script>
import Navbar from "./components/Navbar.vue";

export default {
  name: "App",
  components: {
    Navbar
  }
}
</script>

<style>
</style>
