<template>
  <div>
      <h1>{{poruka}}</h1>
  </div>
</template>

<script>
export default {
    name: "Forbidden",
    data(){
      return{
        poruka: "Zabranjen pristup"
      }
    }
}
</script>

<style>

</style>