<template>
  <div class="py-4">
    <div class="row text-center">
      <h1>Prijava</h1>
    </div>
    <div class="row px-2">
      <div class="col-md-3 col-sm-2"></div>
      <div class="col-md-6 col-sm-8">
        <form action="" method="POST" id="loginForm" @submit.prevent="submit()">
          <div class="form-group row py-2">
            <div class="col-sm-3">
              <label for="username" class="col-form-label"
                >Korisničko ime</label
              >
            </div>
            <div class="col-sm-9">
              <input
                type="text"
                class="form-control"
                name="username"
                id="username"
                v-model="username"
              />
            </div>
          </div>
          <div class="form-group row py-2">
            <div class="col-sm-3">
              <label for="password" class="col-form-label">Zaporka</label>
            </div>
            <div class="col-sm-9">
              <input
                type="password"
                class="form-control"
                name="password"
                id="password"
                v-model="password"
              />
            </div>
          </div>
          <div class="form-group row-sm-2 text-center py-2">
            <button type="submit" class="btn btn-primary">Prijava</button>
          </div>
          <div v-if="incorrect" class="row-sm-2 text-center py-2" id="incorrectMessage">
            <p>Podaci nisu ispravni!</p>
          </div>          
        </form>
      </div>
      <div class="col-md-3 col-sm-2"></div>
    </div>
  </div>
</template>

<script>
import axios from "axios";

export default {
  name: "Login",
  data() {
    return {
      username: "",
      password: "",
      incorrect: false
    };
  },
  methods: {
    submit() {      
      axios
        .post(
          `http://127.0.0.1:8081/login`, {username: this.username, password: this.password},
          {
            headers: {
              "Content-Type": "application/json",
            },
          }
        )
        .then((res) => {
          if(res.status === 200){
              this.$store.dispatch('setUserAction', res.data.user);
              this.$store.dispatch('setTokenAction', res.data.token);
              window.localStorage.setItem('user', JSON.stringify(res.data.user));
              window.localStorage.setItem('token', JSON.stringify(res.data.token));       
              if(res.data.user.uloga === "prof"){
                this.$router.push("/profesor");                        
              } else {
                this.$router.push("/ucenik")
              }
          } else {
              this.incorrect = true;
          }
        })
        .catch((err) => {
          console.log(err);
          this.incorrect = true;
        });
    },
  },
};
</script>

<style>
#incorrectMessage {
    color: red;
}
</style>