<template>
  <div>
    <div class="text-center">
      <router-link
        :key="ucenik"
        v-for="ucenik in Array.of(
          uceniciIzRazreda[index - 1 == -1 ? 0 : index - 1],
          uceniciIzRazreda[
            index + 1 == uceniciIzRazreda.length ? index : index + 1
          ]
        )"
        :to="{ name: 'OdabraniUcenik', params: { id: ucenik.jmbag } }"
        class="text-decoration-none link-info"
      >
        <button class="btn btn-info mx-2 px-3 mt-3">{{ ucenik.ime }} {{ ucenik.prezime }}</button>
      </router-link>
    </div>

    <div>
      <MasterUcenik
        v-if="ispiti.length != 0"
        v-bind:ime="ispiti[0].ime"
        v-bind:prezime="ispiti[0].prezime"
        v-bind:jmbag="ispiti[0].jmbag"
        class="border-bottom pb-4"
      />
    </div>
    <tablica-ispita :ispiti="ispiti" class="border-bottom pb-3" />
    <unos-ispita
      v-bind:datum="datum"
      v-bind:sifpredmet="sifpredmet"
      v-bind:id="id"
      class="border-bottom pb-3"
    />
    <unos-izostanaka
      v-bind:datum="datum"
      v-bind:id="id"
      class="border-bottom pb-3"
    />
    <unos-biljeske
      v-bind:sifpredmet="sifpredmet"
      v-bind:id="id"
      class="border-bottom pb-3"
    />
  </div>
</template>

<script>
import axios from "axios";
import TablicaIspita from "../components/TablicaIspita.vue";
import UnosIspita from "../components/UnosIspita.vue";
import UnosIzostanaka from "../components/UnosIzostanaka.vue";
import UnosBiljeske from "../components/UnosBiljeske.vue";
import MasterUcenik from "../components/MasterUcenik.vue";

export default {
  components: {
    TablicaIspita,
    UnosIspita,
    UnosIzostanaka,
    UnosBiljeske,
    MasterUcenik,
  },
  name: "OdabraniUcenik",
  data() {
    return {
      id: this.$route.params.id,
      sifpredmet: this.$store.getters.getUser.sifpredmet,
      datum: this.getCurrentDate(),
      ispiti: [],
      uceniciIzRazreda: this.$store.getters.getOdabraniUcenici,
      index: this.$store.getters.getOdabraniUcenici.findIndex((uc) => {
        return uc.jmbag === this.$route.params.id;
      }),
    };
  },
  methods: {
    getCurrentDate() {
      var today = new Date();
      var year = today.getFullYear();
      var month = today.getMonth() + 1;
      if (month < 10) {
        month = "0" + month;
      }
      var day = today.getDate();
      return year + "-" + month + "-" + day;
    },
  },
  created() {
    axios
      .get(
        `http://127.0.0.1:8081/profesor/odabrani-ucenik/${this.id}/${this.sifpredmet}`
      )
      .then((result) => {
        this.ispiti = result.data.ispiti;
      })
      .catch((err) => console.log(err));
  },
  beforeRouteUpdate(to, from, next) {
    axios
      .get(
        `http://127.0.0.1:8081/profesor/odabrani-ucenik/${to.params.id}/${this.sifpredmet}`
      )
      .then((result) => {
        this.ispiti = result.data.ispiti;
        this.id = to.params.id;
        this.index = this.$store.getters.getOdabraniUcenici.findIndex((uc) => {
          return uc.jmbag === this.$route.params.id;
        });
      })
      .catch((err) => console.log(err));
    next();
  },
};
</script>

<style>
</style>