<template>
  <div class="text-center d-flex justify-content-center py-4">
    <div v-if="uloga === 'prof'">
      <div class="card bg-info text-white" style="width: 18rem">
        <h5 class="card-header text-center">
          {{ ulogaHeader }} {{ ime }} {{ prezime }}
        </h5>
        <div class="card-body text-center">
          <h5 class="card-title">{{ nazivpredmet }}</h5>
          <p class="card-text">
            {{ nazivskola }}
            {{ pbr }}
          </p>
        </div>
        <div class="card-footer text-dark">ID: {{ id }}</div>
        <div class="card-footer text-dark">Razredi: {{ nazivrazred }}</div>
      </div>
    </div>
    <div v-else>
      <div class="card bg-info text-white" style="width: 18rem">
        <h5 class="card-header text-center">
          {{ ulogaHeader }} {{ ime }} {{ prezime }}
        </h5>
        <div class="card-body text-center">
          <h5 class="card-title">{{ nazivpredmet }}</h5>
          <p class="card-text">
            {{ nazivskola }}
            {{ pbr }}
          </p>
        </div>
        <div class="card-footer text-dark">ID: {{ id }}</div>
        <div v-if="uloga === 'profesor'">
          <div
            :key="raz"
            v-for="raz in nazivrazred"
            class="card-footer text-dark"
          >
            Razred: {{ raz }}
          </div>
        </div>
        <div v-if="uloga === 'ucenik'">
          <div class="card-footer text-dark">Razred: {{ nazivrazred[0] }}</div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";

export default {
  name: "Profil",
  data() {
    return {
      id: this.$route.params.id,
      ime: "",
      prezime: "",
      pbr: "",
      uloga: this.$route.params.uloga === "prof" ? "profesor" : "ucenik",
      ulogaHeader: this.$route.params.uloga === "prof" ? "Prof." : "Učenik",
      nazivpredmet: "",
      nazivskola: "",
      nazivmjesto: "",
      nazivrazred: [],
    };
  },
  mounted() {
    if (this.uloga === "profesor") {
      axios
        .get(`http://127.0.0.1:8081/${this.uloga}/${this.id}`)
        .then((res) => {
          this.ime = res.data.user[0].ime;
          this.prezime = res.data.user[0].prezime;
          this.pbr = res.data.user[0].pbr;
          this.nazivskola = res.data.user[0].nazivskola;
          this.nazivpredmet = res.data.user[0].nazivpredmet;
          this.nazivmjesto = res.data.user[0].nazivmjesto;
          res.data.user.forEach((val) => {
            this.nazivrazred.push(val.nazivrazred);
          });
        })
        .catch((err) => {
          console.log(err);
        });
    } else {
      axios
        .get(`http://127.0.0.1:8081/${this.uloga}/${this.id}`)
        .then((res) => {
          this.ime = res.data.user[0].ime;
          this.prezime = res.data.user[0].prezime;
          this.pbr = res.data.user[0].pbr;
          this.nazivskola = res.data.user[0].nazivskola;
          this.nazivmjesto = res.data.user[0].nazivmjesto;
          this.nazivrazred.push(res.data.user[0].nazivrazred);
        })
        .catch((err) => {
          console.log(err);
        });
    }
  },
};
</script>

<style>
</style>