<template>
  <div>
    <h1 class="display-6 text-center">Odabir razreda</h1>
    <div class="d-flex justify-content-center">
      <select
        id="razredSelector"
        class="form-select text-center form-select-lg"
        aria-label="Default select example"
        @change="checkRazred()"
      ></select>
    </div>
    <TablicaUcenika
      v-bind:ucenici="odabraniUcenici"
      class="py-3 border-bottom pb-3"
    ></TablicaUcenika>

    <h1 class="display-6 text-center">Dodavanje učenika</h1>
    <DodavanjeUcenika v-bind:razredi="raz"></DodavanjeUcenika>
  </div>
</template>

<script>
import axios from "axios";
import TablicaUcenika from "../components/TablicaUcenika.vue";
import DodavanjeUcenika from "../components/DodavanjeUcenika.vue";

export default {
  name: "Profesor",
  components: {
    TablicaUcenika,
    DodavanjeUcenika
  },
  data() {
    return {
      nazivRazred: [],
      id: this.$store.getters.getUser.sifnastavnik,
      uloga: "profesor",
      ucenici: [],
      odabraniRazred: "",
      odabraniUcenici: [],
      sviUcenici: [],
      sviRazredi: [],
      raz: []
    };
  },
  methods: {
    checkRazred() {
      var razredSelector = document.getElementById("razredSelector");
      var opt;
      for (var i = 0, len = razredSelector.options.length; i < len; i++) {
        opt = razredSelector.options[i];
        if (opt.selected === true) {
          this.odabraniRazred = opt.value;
          this.$store.dispatch("setOdabraniRazredAction", opt.value);
          this.odabraniUcenici = this.ucenici.filter(
            (ucenik) => ucenik.naziv === opt.value
          );
          this.$store.dispatch("setOdabraniUceniciAction", this.odabraniUcenici)
        }
      }
    },
    setRazred() {
      var razredSelector = document.getElementById("razredSelector");
      this.nazivRazred.forEach((razred) => {
        var option = document.createElement("option");
        option.setAttribute("value", razred);
        option.setAttribute("id", razred);
        if (razred === this.$store.getters.getOdabraniRazred)
          option.setAttribute("selected", true);
        option.innerHTML = razred;
        razredSelector.appendChild(option);
      });
    },
  },
  async mounted() {
    if (this.$store.getters.getNazivRazred.length === 0) {
      await axios
        .get(`http://127.0.0.1:8081/${this.uloga}/${this.id}`)
        .then((result) => {
          result.data.user.forEach((val) => {
            this.nazivRazred.push(val.nazivrazred);
            this.$store.dispatch("setNazivRazredAction", val.nazivrazred);
          });
          window.localStorage.setItem(
            "nazivRazred",
            JSON.stringify(this.$store.getters.getNazivRazred)
          );
        })
        .then(() => {
          this.setRazred();
          this.checkRazred();
        })
        .catch((err) => {
          console.log(err);
        });
    } else {
      this.nazivRazred = this.nazivRazred.concat(
        this.$store.getters.getNazivRazred
      );
      this.setRazred();
    }
    if (this.$store.getters.getUcenici.length === 0) {
      await axios
        .get(`http://127.0.0.1:8081/ucenici`)
        .then((result) => {
          var razredi = [...this.nazivRazred];
          this.sviUcenici = result.data.ucenici;
          let resultFilter = result.data.ucenici.filter((ucenik) =>
            razredi.includes(ucenik.naziv)
          );
          this.ucenici = resultFilter;
          this.$store.dispatch("setUceniciAction", resultFilter);
        })
        .then(() => {
          this.checkRazred();
        })
        .catch((err) => {
          console.log(err);
        });
    } else {
      this.ucenici = this.ucenici.concat(this.$store.getters.getUcenici);
      this.checkRazred();
    }

    await axios
      .get(`http://127.0.0.1:8081/razredi`)
      .then((result) => {
        result.data.razredi.forEach((val) => {
          this.sviRazredi.push(val);
        });
      })
      .then(() => {
        var raz = [];
        this.sviRazredi.forEach(razred => {
          raz.push(razred.sifrazred);
        })
        this.$store.dispatch("setSviRazredi", raz);
        this.raz = raz;
      })
      .catch((err) => {
        console.log(err);
      });
  },
  beforeUpdate() {
    this.checkRazred();
  },
};
</script>

<style>
#razredSelector {
  width: 30vw;
}
</style>