<template>
  <div>
    <bar-chart-ocjene v-bind:ocjene="ocjene"/>
  </div>
</template>

<script>
import axios from "axios";
import BarChartOcjene from '../components/BarChartOcjene.vue';

export default {
  components: { BarChartOcjene },
  name: "StatistikaProf",
  data() {
    return {
      sifRazred: "",
      sifPredmet: this.$store.getters.getUser.sifpredmet,
      ocjene: [],
    };
  },
  mounted() {
    this.sifRazred =
      this.$store.getters.getOdabraniRazred.split(".")[0] +
      this.$store.getters.getOdabraniRazred.split(".")[1];
    axios
      .get(
        `http://127.0.0.1:8081/profesor/statistika/${this.sifPredmet}${this.sifRazred}`
      )
      .then((result) => {
        result.data.ocjene.forEach((val) => {
          this.ocjene.push(val);
        });
      })
      .catch((err) => {
        console.log(err);
      });
  },
};
</script>
    
<style>
</style>