<template>
  <div>
    <bar-chart-ocjene v-bind:ocjene="ocjene"/>
  </div>
  
</template>

<script>
import axios from "axios";
import BarChartOcjene from '../components/BarChartOcjene.vue';

export default {
  components: { BarChartOcjene },
  name: "StatistikaUc",
  data(){
    return{
      ocjene: [],
    }
  },
  created(){
    var id = this.$store.getters.getUser.jmbag;
    var sifpredmet = this.$store.getters.getOdabraniPredmet;
    axios
      .get(`http://127.0.0.1:8081/ucenik/statistika/${id}/${sifpredmet}`)
      .then((result) => {
        this.ocjene = this.ocjene.concat(result.data.ocjene);
      })
      .catch((err) => {
        console.log(err);
      });
  }
};
</script>

<style>
</style>