<template>
  <div>
    <h1 class="display-6 text-center">Odabir predmeta</h1>
    <div class="d-flex justify-content-center">
      <select
        id="predmetSelector"
        class="form-select text-center form-select-lg"
        aria-label="Default select example"
        @change="checkSelectedPredmet"
      ></select>
    </div>
    <tablica-ocjena v-bind:ocjene="ocjenePredmet"></tablica-ocjena>
    <tablica-biljeski v-bind:biljeske="biljeskePredmet"></tablica-biljeski>
    <tablica-izostanaka v-bind:izostanci="izostanci"></tablica-izostanaka>
  </div>
</template>

<script>
import axios from "axios";
import TablicaOcjena from "../components/TablicaOcjena.vue";
import TablicaBiljeski from "../components/TablicaBiljeski.vue";
import TablicaIzostanaka from '../components/TablicaIzostanaka.vue';

export default {
  components: { TablicaOcjena, TablicaBiljeski, TablicaIzostanaka },
  name: "Ucenik",
  data() {
    return {
      id: this.$store.getters.getUser.jmbag,
      predmeti: [],
      ocjene: [],
      ocjenePredmet: [],
      biljeske: [],
      biljeskePredmet: [],
      izostanci: []
    };
  },
  methods: {
    setPredmeti() {
      var predmetSelector = document.getElementById("predmetSelector");
      var cnt = 0;
      this.predmeti.forEach((val) => {
        var option = document.createElement("option");
        option.setAttribute("value", val.nazivpredmet);
        option.setAttribute("id", val.sifpredmet);
        if (this.$store.getters.getOdabraniPredmet === "" && cnt === 0) {
          cnt += 1;
          this.$store.dispatch("setOdabraniPredmetAction", val.sifpredmet);
          option.setAttribute("selected", true);
        }
        if (val.sifpredmet === this.$store.getters.getOdabraniPredmet) {
          option.setAttribute("selected", true);
        }
        option.innerHTML = val.nazivpredmet;
        predmetSelector.appendChild(option);
      });
    },
    checkSelectedPredmet() {
      var predmetSelector = document.getElementById("predmetSelector");
      var opt;
      for (var i = 0; i < predmetSelector.options.length; i++) {
        opt = predmetSelector.options[i];
        if (opt.selected) {
          this.$store.dispatch("setOdabraniPredmetAction", opt.id);
          this.ocjenePredmet = this.ocjene.filter(
            (ocj) => ocj.sifpredmet === this.$store.getters.getOdabraniPredmet
          );
          this.biljeskePredmet = this.biljeske.filter(
            (bilj) => bilj.sifpredmet === this.$store.getters.getOdabraniPredmet
          );
        }
      }
    },
  },
  created() {
    axios
      .get(`http://127.0.0.1:8081/ucenik/${this.id}/upisani-predmeti`)
      .then((result) => {
        result.data.predmeti.forEach((val) => {
          this.predmeti.push({
            sifpredmet: val.sifpredmet,
            nazivpredmet: val.naziv,
          });
        });
      })
      .then(() => {
        this.setPredmeti();
      })
      .catch((err) => {
        console.log(err);
      });
  },
  mounted() {
    axios
      .get(`http://127.0.0.1:8081/ucenik${this.id}`)
      .then((result) => {
        this.ocjene = this.ocjene.concat(result.data.ocjene);
        this.ocjenePredmet = this.ocjene.filter(
          (ocj) => ocj.sifpredmet === this.$store.getters.getOdabraniPredmet
        );
      })
      .then(() => {
        this.checkSelectedPredmet();
      })
      .catch((err) => {
        console.log(err);
      });

    axios
      .get(`http://127.0.0.1:8081/ucenik${this.id}/biljeske`)
      .then((result) => {
        this.biljeske = this.biljeske.concat(result.data.biljeske);
        this.biljeskePredmet = this.biljeske.filter(
            (bilj) => bilj.sifpredmet === this.$store.getters.getOdabraniPredmet
          );
      })
      .catch((err) => {
        console.log(err);
      });
    
    axios
      .get(`http://127.0.0.1:8081/ucenik${this.id}/izostanci`)
      .then((result) => {
        this.izostanci = this.izostanci.concat(result.data.izostanci);
      })
      .catch((err) => {
        console.log(err);
      });
  },
  beforeUpdate() {
    this.checkSelectedPredmet();
  },
};
</script>

<style>
#predmetSelector {
  width: 40%;
}
</style>